nav#navbar-main.navbar.navbar-light {
    font-family: "Ovo", "Georgia", "STZhongsong", "Microsoft YaHei", serif;
}

.navbar-light {
    font-family: "Ovo", "Georgia", "STZhongsong", "Microsoft YaHei", serif;
}

nav#navbar-main.navbar.navbar-expand-ig.navbar-light.compensate-for-scrolibar {
    font-family: "Ovo", "Georgia", "STZhongsong", "Microsoft YaHei", serif;
}

.portrait-title h2 {
    font-family: "Ovo", "Georgia", "STZhongsong", "Microsoft YaHei", serif;
}

.portrait-title h3 {
    font-family: "Ovo", "Georgia", "STZhongsong", "Microsoft YaHei", serif;
}

.page-body section div div div h1 {
    font-family: "Ovo", "Georgia", "STZhongsong", "Microsoft YaHei", serif;
}

.page-body section div div div div {
    font-family: "Ovo", "Georgia", "STZhongsong", "Microsoft YaHei", serif;
}

html {
    font-family: "Ovo", "Georgia", "STZhongsong", "Microsoft YaHei", serif;
}

strong {
    font-family: "Arial";
}

#interests {
    font-size: 1.25rem;
    font-weight: bold;
}